.box {
    border: 1px solid white;
    text-align: center;
}

h1 {
    font-family: 'Mali', cursive;
    color: white;
}

@media (min-width: 801px) {
    .box {
        position: absolute;
        top: 60vh;
        left: 80vw;
        max-width: 15vw;
    }
}

@media (max-width: 800px) {
    .box {
        max-width: 80%;
    }
}