.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

.Input {
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 3px 5px;
    display: block;
    width: 80%;
    /* padding: 10px; */
    box-sizing: border-box;
}

.Input:focus {
    background-color: #ccc;
}