.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.postsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.imageNameAndButtons {
    margin-top: 380px;
    margin-left: 28px;
    width: 15vw;
}

.primaryProfileContent {
    margin-left: 60px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.btn:focus {
    outline: none;
  }
