.header {
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.innerHeader {
    display: flex;
    flex-direction: row;
}

.headerH3 a {
    margin: 0;
    color: white;
    padding-left: 15px;
}

.innerHeader h3 a {
    text-decoration: none;
    color: white;
}

@media (max-width: 499px) {
    .desktopOnly {
        display: none;
    }
    .header {
        position: fixed;
        left: 0;
        right: 0;
    }
}

@media (max-width: 800px) {
    .header {
        justify-content: center;
        width: auto;
    }
    .innerHeader {
        display: none;
    }
}

@media (min-width: 801px) {
    .blog {
        position: absolute;
        top: 10vh;
        left: 5vw;
    }
}

.DrawerToggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}