.post {
    min-height: 35vh;
    max-height: 70vh;
    min-width: 25vw;
    max-width: 40vw;
    overflow: scroll;
    background: #ccc;
    opacity: 0.7;
    margin: 10px;
}

.post * {
    padding: 10px;
    margin: 0;
}

@media (max-width: 800px) {
    .post {
        max-width: 80vw;
    }
}